/* RESET */
* { margin: 0; padding: 0; box-sizing: border-box; }

/* MAIN CONTAINER */
body {
    font-family: "Monaco", serif;
    background: linear-gradient(#0060be, #e8f2fb);
    padding: 20px;
    cursor: url("public/assets/cursor.png"), pointer;
}

.main-container {
    background: white;
    width: 92%;
    margin: auto;
    padding: 25px 40px;
    border-radius: 40px;
    box-shadow: 10px 10px 0px black;
    animation: pageFade 0.7s ease;
}

.header-row { display: flex; align-items: center; }
.logo { width: 110px; margin-right: 20px; }
.site-title { font-size: 65px; }

.nav-buttons {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 20px 0;
    background: linear-gradient(#9be54d, white);
    padding: 10px 30px;
    border: 3px solid black;
    border-radius: 40px;
}

.nav-buttons a {
    text-decoration: none;
    font-size: 22px;
    color: black;
    font-style: italic;
}
.nav-buttons a:hover { color: white; }

/* CONTENT BOX */
.content-box {
    width: 85%;
    min-height: 450px;
    border: 7px solid black;
    border-radius: 12px;
    margin: 20px auto;
    padding: 30px;
    background: url("public/assets/pink-bg.jpg");
    background-size: cover;
    overflow-y: auto;
}

.page { display: none; }
.page.visible { display: block; }

h3 {
    text-align: center;
    color: #3c5dac;
    font-size: 40px;
}

p {
    text-align: center;
    color: #b7427e;
    font-size: 20px;
}

.njz-quiz-photo {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.njz-quiz-photo .photo {
    width: 80%;
    max-width: 350px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

/* OPTIONS */
.options {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 20px;
}

.options button {
    padding: 12px;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 10px;
    background: white;
    cursor: pointer;
}
.options button:hover {
    background: #ffc7e2;
}

/* BUTTONS */
.center-btn {
    display: block;
    margin: 25px auto;
    padding: 14px 30px;
    font-size: 22px;
    background: linear-gradient(#9be54d, white);
    border: 3px solid black;
    border-radius: 15px;
    cursor: pointer;
}
.center-btn:hover { background: #ffffff; }

/* RESULT IMAGE */
.result-photo {
    display: block;
    width: 400px;
    margin: 20px auto;
    border-radius: 12px;
}

/* FOOTER */
.footer-links {
    margin-top: 25px;
    font-size: 22px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;
}

.footer-links span {
    margin-right: 30px;
}

.footer-links ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
}

.footer-links li a {
    text-decoration: none;
    justify-content: center;
    color: black;
    font-size: 22px;
}

.footer-links a:hover {
    color: #0060be;
}

.footer-center {
    text-align: center;
    font-size: 0.9rem;
    color: #888;
}

/* ANIMATIONS */
body {
    animation: fadeIn 0.6s ease;
}

.content-box {
    animation: contentFade 0.9s ease;
}

@keyframes contentFade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}