/* RESET */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/* BODY */
body {
    font-family: "Monaco", serif;
    background: linear-gradient(#0060be, #e8f2fb);
    background-position: fixed;
    background-attachment: fixed;
    padding: 20px;
}

.main-container {
    background: white;
    width: 92%;
    margin: auto;
    padding: 15px 30px;
    border-radius: 40px;
    box-shadow: 10px 10px 0px black;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header-row {
    display: flex;
    align-items: center;
}

.logo {
    width: 110px;
    margin-right: 20px;
}

.site-title {
    font-size: clamp(28px, 6vw, 65px);
    text-align: center;
    letter-spacing: 2px;
}

.nav-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    margin: 20px 0;
    background: linear-gradient(#9be54d, white);
    padding: 12px;
    border: 3px solid black;
    border-radius: 25px;
}

.nav-buttons a {
    color: black;
    text-decoration: none;
    font-style: italic;
    font-size: 22px;
}

.nav-buttons a:hover {
  color: white;
}

.content-box {
    width: 85%;
    min-height: 745px;
    border: 5px solid rgb(0, 0, 0);
    background: url("public/assets/pink-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 9.5px;
    margin: 10px auto;

    padding: 20px;
    box-sizing: border-box;

    overflow-y: auto;
}


.content-box h3 {
    text-align: center;
    color:#3c5dac;
    font-size: 40px;
    
}

.content-box p {
    text-align: center;
    color:#b7427e;
    font-size: 20px;
}   

.grid-3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.grid-item {
    text-align: center;
    font-size: 26px;
}

.placeholder-box {
    width: 200px;
    height: 150px;
    background: #e4e4e4;
    border-radius: 15px;
    margin-bottom: 10px;
}

.content-box::-webkit-scrollbar {
    display: none;
}

/* FORM */
form{
  display:flex;
  flex-direction:column;
  gap:15px;
  width:100%;
  max-width:500px;
  margin:auto;
}

form p{
  font-size:18px;
  color:#b7427e;
}

input[type="text"],
select{
  padding:10px;
  font-size:16px;
  border:3px solid black;
  border-radius:8px;
  width:100%;
}

label{
  font-size:16px;
}

/* MOOD OPTIONS  */
.mood-options{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:12px;
}

/* BUTTON */
.link-btn{
  margin:25px auto 0;
  padding:12px 28px;
  font-size:18px;
  border:3px solid black;
  border-radius:14px;
  background:linear-gradient(#9be54d,white);
  cursor:pointer;
}

.link-btn:hover{
  background:white;
}

/* FOOTER  */
.footer-links {
    text-align: center;
    margin-bottom: 30px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-links li a {
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-weight: bold;
}

.footer-links a:hover {
    color: #0060be;
}

.footer-center {
    text-align: center;
    font-size: 0.9rem;
    color: #888;
}

.footer-left {
    text-align: center;
    font-size: 0.9rem;
    color: #00000000;
}

/* ANIMATIONS */
@keyframes contentFade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}