* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Monaco", serif;
    background: linear-gradient(#0060be, #e8f2fb);
    padding: 20px;
}

.main-container {
    background: white;
    width: 92%;
    margin: auto;
    padding: 25px 40px;
    border-radius: 40px;
    box-shadow: 10px 10px 0px black;
}

.header-row {
    display: flex;
    align-items: center;
}

.logo {
    width: 110px;
    margin-right: 20px;
}

.site-title {
    font-size: 65px;
    letter-spacing: 2px;
}

.nav-buttons {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 20px 0;
    background: linear-gradient(#9be54d, white);
    padding: 10px 30px;
    border: 3px solid black;
    border-radius: 40px;
    text-decoration: none;
    color: black;
    font-style: italic;
    font-size: 22px;
}

.nav-buttons a:hover {
  color: white;
}

.content-box {
    border: 7px solid black;
    background: white;
    width: 100%;
    height: 420px;
    margin: 20px auto;
    padding: 30px;
}

.grid-3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.grid-item {
    text-align: center;
    font-size: 26px;
}

.placeholder-box {
    width: 200px;
    height: 150px;
    background: #e4e4e4;
    border-radius: 15px;
    margin-bottom: 10px;
}

.footer-links {
    margin-top: 25px;
    font-size: 22px;
    display: flex;
    gap: 30px;
    align-items: center;
    color: black
}


.footer-links span {
    margin-right: 30px;
}